{% extends 'base.html.twig' %}

{% block title %}Edit Question{% endblock %}

{% block body %}
    <h1>Edit Question</h1>

    {{ include('pages/admin/question/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('question.index') }}">back to list</a>

    {{ include('pages/admin/question/_delete_form.html.twig') }}
{% endblock %}
