{% extends "base.html.twig" %}

{% block title %}Forum des métiers - Accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">

		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur le Forum de découverte des métiers</h1>
			<p class="lead">Ce forum vous permettra de découvrir des métiers funs et qui rapportent gros !!</p>
			<hr class="my-4">
			<p>Pour commencer, rendez-vous sur la page inscription pour utiliser l'application</p>
			<a class="btn btn-primary btn-lg" href="{{ path('security.registration')}}" role="button">Inscription</a>
		</div>
	</div>


{% endblock %}
