{% extends 'base.html.twig' %}

{% block title %}UserAnswer index{% endblock %}

{% block body %}
    <h1>UserAnswer</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Question</th>
                <th>Réponse</th>
            </tr>
        </thead>
        <tbody>
        {% for user_answer in user_answers %}
            <tr>
                <td>{{ user_answer.question.name }}</td>
                {# <td>{{ user_answer.reponse }}</td> #}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
