{% extends 'base.html.twig' %}

{% block title %}Edit UserAnswer{% endblock %}

{% block body %}
    <h1>Edit UserAnswer</h1>

    {{ include('pages/admin/user_answer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_answer_index') }}">back to list</a>

    {{ include('pages/admin/user_answer/_delete_form.html.twig') }}
{% endblock %}
